@import "settings";

$purple: rgb(166, 97, 199);
$dark-purple: rgb(154, 61, 193);
$questions-option-color: rgb(216, 216, 216);
$placeholder-color: rgb(89, 89, 89);
$quiz-button-color: #5280BF;

.button-questions {
  border: solid 1px darken($quiz-button-color, 10%);
  border-radius: 5px;
  background-color: #F5F5F5;
  color: $quiz-button-color;
  font-size: large;
  padding: 0.5rem 1.2rem 0.5rem 1rem;
  display: inline-block;
  margin-left: 40px;
  font-family: $font-family-sans-serif;

  -webkit-transition: all 0.3s 0.6s;
  transition: all 0.3s 0.6s;

  &:hover, &:active, &:focus {
    color: darken($quiz-button-color, 10%);
  }

  .icon-i-knowledge-quiz-close {
    margin-left: 5px;
    opacity: 0;
  }

  .icon-i-knowledge-quiz-close:before {
    content: "✖";
    color: white;
  }
}

.quizBackground {
    position: absolute;
    top: 0;
    left: -200%;
    right: -200%;
    height: 100%;
    background: $jet;
    z-index: -1;
}

.quizBackground,
.questions-container {
  max-height: 0;
  -webkit-transition: all 0.5s 0.3s cubic-bezier(0.7,0,0.3,1);;
  transition: all 0.5s 0.3s cubic-bezier(0.7,0,0.3,1);;
}

.question-container { // Individual question
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;

  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;

  &:nth-child(1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  &:nth-child(2) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  &:nth-child(3) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }

  .give-answer-input {
    width: 80%;
    font-size: 1.5em;
  }
}

.questions-opened {

  .button-questions {
    color: white;
    background-color: $quiz-button-color;
    -webkit-transition: all 0.3s 0.3s;
    transition: all 0.3s 0.3s;

    .icon-i-knowledge-quiz-close{
      opacity: 1;
      transition: all 0.3s 0.3s;
    }
  }
  .quizBackground {
    height: 100%;
  }

  .questions-container {
    opacity: 1;
    height: 100%;
  }

  .quizBackground,
  .questions-container {
    max-height: 3000px;
    -webkit-transition: all 0.5s 0.3s cubic-bezier(0.7,0,0.3,1);;
    transition: all 0.5s 0.3s cubic-bezier(0.7,0,0.3,1);;
  }

  .question-container {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;

    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }

}

.questionsGroupContainer{
  max-height: 100px;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  font-family: $font-family-sans-serif;
  background-color: transparent;
}


.questions-container {

  opacity: 0;
  height: 0;

  /* Pretty printing styles. Used with prettify.js. */
  /* Vim sunburst theme by David Leibovic */
  pre .str, code .str { color: #65B042; } /* string  - green */
  pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
  pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
  pre .typ, code .typ { color: #89bdff; } /* type - light blue */
  pre .lit, code .lit { color: #3387CC; } /* literal - blue */
  pre .pun, code .pun { color: #fff; } /* punctuation - white */
  pre .pln, code .pln { color: #fff; } /* plaintext - white */
  pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
  pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
  pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
  pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

  pre.prettyprint, code.prettyprint {
    background-color: #000;
    border: 0;
    border-radius: 4px;
  }

  pre.prettyprint {
    margin: 1em auto;
    padding: 1em;
    white-space: pre-wrap;
  }


  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
  li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
  /* Alternate shading for lines */
  li.L1,li.L3,li.L5,li.L7,li.L9 { }

  @media print {
    pre .str, code .str { color: #060; }
    pre .kwd, code .kwd { color: #006; font-weight: bold; }
    pre .com, code .com { color: #600; font-style: italic; }
    pre .typ, code .typ { color: #404; font-weight: bold; }
    pre .lit, code .lit { color: #044; }
    pre .pun, code .pun { color: #440; }
    pre .pln, code .pln { color: #000; }
    pre .tag, code .tag { color: #006; font-weight: bold; }
    pre .atn, code .atn { color: #404; }
    pre .atv, code .atv { color: #060; }
  }

  &.collapsed {
    opacity: 0;
  }

  .button-reset{
    /*background-color: #DCDCDC;
    color: white;
    border-radius: 50%;*/
    color: $light-green;
  }

  .question-index {
    font-size: rem-calc(57);
    position: absolute;
    left: -1.6em;
    color: black;
    font-weight: bold;
    line-height: 1;
  }

  .question-heading {
    font-weight: bold;
    font-size: rem-calc(20);
    line-height: 1;
  }

  .question-description{
    color: lightgray;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
  }

  .question-toolbar{
    margin: 10px;
  }

  .question-container .toolbar-button {
    color: white;
    border-radius: 20px;
    font-size: rem-calc(14);
    padding: 4px 10px;
    display: inline-block;
    margin-right: 5px;
  }

  .toolbar-separator{
    width: 40px;
    display:inline-block;
  }

  .button-check {
    background-color: $light-green;
    font-family: $font-family-sans-serif;
  }

  .button-show-answer, .button-hint, .button-explain, .button-reset {
    background-color: darkgray;
    font-family: $font-family-sans-serif;
    text-transform: lowercase;

    i:before {
      font-size: rem-calc(15);
      position: relative;
      top: 1px;
    }
  }

  .button-show-answer i:before {
    font-size: rem-calc(11);
    top: 0;
  }

  .button-reset {
    width: 29px;
    height: 29px;
    line-height: 29px;
    position: absolute;
    top: -3px;
    left: 105%;
    padding: 0 0 0 9px !important;

    i:before {
      position: relative;
      top: 2px;
      left: -2px;
    }
  }

  .question-container {
    position: relative;
    margin: 80px 0;

    &:first-of-type {
      margin-top: 40px;
    }

    &:not(:last-of-type):after {
      position: absolute;
      content: '';
      bottom: -40px;
      left: -25%;
      height: 1px;
      width: 30%;
      background: black;
    }
  }


  .question-answer-container {
    margin: 10px 0;
  }

  label {
    color: #fff;
    padding-top: 4px;
  }

  .choose-multiple {
    .options-container,
    .answers-container {
      border: dashed 1px gray;
      padding: 5px;
      margin: 10px 0;
      min-height: 50px;

      &.drop-active{
        border: solid 1px gold;
      }
    }

    .options-container{
      border: none;
    }

    .draggable-option-container {
      margin: 2px 0;

      .draggable-option-value{
        border: solid 1px;
        width: 90%;
        cursor:move;
        display: inline-block;
        padding: 1px 4px;
        border-radius: 2px;
        background: $questions-option-color;
        color: black;
      }

      &.drag-active .draggable-option-value{
        border: solid 1px gold;
      }

      &.drag-active{
        z-index: 10;
      }
    }

    .answers-container {
    }
  }

  .question-tip-container{
    position: relative;

    background-color: #FAFAFA;
    border-radius: 4px;
    margin: 10px 0;
    padding: 20px;
    display: none;
    color: $jet;

    .close-question-tip {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  .question-draggable-items {
    width: 80%;
    min-height: 40px;
    margin: 15px 0;

    &.drop-active{
    }
  }

  .question-draggable-item {
    width: auto;
    padding: 6px 10px;
    border-radius: 2px;
    cursor: move;
    margin: 2px;
    position:relative;
    background: $questions-option-color;
    color: $jet;
    top: 2px;
    white-space:nowrap;
    display:inline-block;

    &.drag-active{
      border: solid 1px gold;
      z-index: 10;
    }
  }

  .question-descriptions-container {

    margin: 10px 0;

    .question-description-item {
      margin: 5px;

      .question-description-item-place {
        border: dashed 1px $jet;
        width: 400px;
        height: 35px;
        background-color: $placeholder-color;
        border-radius: 3px;
      }

      .question-description-item-place.drop-active{
        border: dashed 1px gold;
      }
    }
  }

  .input-answer{
    width: 200px;
    display:inline-block;
  }

  .correct-status {
    width: 17px;
    height: 17px;
    display: none;
    background-repeat: no-repeat;

    &.correct i:before {
      content: "\e60e";
      color: $green;
    }

    &.incorrect i:before{
      content: "✖";
      color: red;
    }

    &.show{
      display:inline-block;
    }
  }
}

.arrange-code{

  .arrange-code-fragments {
    border: 1px dashed grey;
    width: 80%;
    min-height: 40px;
    margin: 15px 0;

    .code-draggable-item{
      font-size: 1.25em;
    }
  }

  .code-item-placeholder-container {
    display: inline-block;
    margin-top: 4px;

    .code-item-placeholder {
      display: inline-block;
      border: 1px dashed grey;
      position:relative;

      .code-draggable-item {
        position: absolute;
        margin-left: 3px;
        margin-right: 0;
      }
    }
  }

  .code-draggable-item {
    font-family: monospace;
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
    border-radius: 2px;
    cursor: move;
    margin-left: 2px;
    margin-right: 2px;
    position:relative;
    background: $questions-option-color;
    color: $jet;
    white-space:nowrap;
    display:inline-block;

    &.drag-active{
      border: solid 1px gold;
      z-index: 100;
    }
  }
}
