<div class="textItemContainer">
  <br>
  <h1>Chapter 6</h1>
  <h2 id="sec1">Section 1</h2>
  <p>That's it. The nicety is that you can push more tasks at different points in time, and it'll still
work. In contrast, parallel or series are one-shot operations, where you can't just add
tasks to the list at a later time. That being said, our last topic regarding the async control flow
library is about composing flows, and creating task lists dynamically. Both of which may bring
further flexibility into your thinking box.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>As you can see, mixing synchronous and asynchronous operations, using promises, couldn't be
easier, even when functional operations, or AJAX requests, are involved. We've been looking at
the happy path so far, where everything works just fine, but how exactly should we approach
sensible error handling when using Promises? </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>Using the flow function we would be able to easily mix flows sort of as using GOTO statements,
and how our code leap into asynchronous mode, and out of it, easily. Going forward we'll be
using a combination of plain old JavaScript callbacks and control flow using the contra library,
which is a light-weight alternative to async. </p>
</div>

{{{EXERCISE}}}

 