<div class="textItemContainer">
  <br>
  <h1>Chapter 5</h1>
  <h2 id="sec1">Section 1</h2>
  <p>The above wouldn't work as expected, because test wouldn't be defined by the time we want
to invoke it. It's important to learn what gets hoisted and what doesn't. If you make it a habit
of writing code as if it were already hoisted, pulling variable declarations and functions to the
top of their scope, you will run into fewer problems than you might be running into now. At this
point you should feel pretty comfortable with scoping and the this keyword. It's time for us to
talk about closures and modular patterns in JavaScript.</p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec2">Section 2</h2>
  <p>If your project is using Angular.js, that's good enough that we wouldn't need either AMD or CJS,
because Angular provides a sufficiently modular structure. If you're not using Angular, then I'd
probably go for CJS, mostly because of the abundance of npm packages you can readily
consume if you are already using CJS. </p>
</div>

{{{EXERCISE}}}

<div class="textItemContainer">
  <h2 id="sec3">Section 3</h2>
  <p>If you're interested in the module system in ES6, you should read the article found here:
http://bevacqua.io/bf/es6-modules, which encompasses what you've learned so far about ES6,
and sheds some light on the module system's extensibility. Always keep in mind that the
syntax is subject to change. Before heading to Chapter 6, there is one last little ES6 feature we
want to touch on, with regards to modularity. That is the let keyword. </p>
</div>

{{{EXERCISE}}}

 