@charset "UTF-8";
/* line 9, ../scss/quiz.scss */
.button-questions {
  border: solid 1px #3c67a2;
  border-radius: 5px;
  background-color: #F5F5F5;
  color: #5280BF;
  font-size: large;
  padding: 0.5rem 1.2rem 0.5rem 1rem;
  display: inline-block;
  margin-left: 40px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-transition: all 0.3s 0.6s;
  transition: all 0.3s 0.6s;
}
/* line 23, ../scss/quiz.scss */
.button-questions:hover, .button-questions:active, .button-questions:focus {
  color: #3c67a2;
}
/* line 27, ../scss/quiz.scss */
.button-questions .icon-i-knowledge-quiz-close {
  margin-left: 5px;
  opacity: 0;
}
/* line 32, ../scss/quiz.scss */
.button-questions .icon-i-knowledge-quiz-close:before {
  content: "✖";
  color: white;
}

/* line 38, ../scss/quiz.scss */
.quizBackground {
  position: absolute;
  top: 0;
  left: -200%;
  right: -200%;
  height: 100%;
  background: #3C3C3C;
  z-index: -1;
}

/* line 48, ../scss/quiz.scss */
.quizBackground,
.questions-container {
  max-height: 0;
  -webkit-transition: all 0.5s 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

/* line 55, ../scss/quiz.scss */
.question-container {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 65, ../scss/quiz.scss */
.question-container:nth-child(1) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 69, ../scss/quiz.scss */
.question-container:nth-child(2) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 73, ../scss/quiz.scss */
.question-container:nth-child(3) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 78, ../scss/quiz.scss */
.question-container .give-answer-input {
  width: 80%;
  font-size: 1.5em;
}

/* line 86, ../scss/quiz.scss */
.questions-opened .button-questions {
  color: white;
  background-color: #5280BF;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}
/* line 92, ../scss/quiz.scss */
.questions-opened .button-questions .icon-i-knowledge-quiz-close {
  opacity: 1;
  transition: all 0.3s 0.3s;
}
/* line 97, ../scss/quiz.scss */
.questions-opened .quizBackground {
  height: 100%;
}
/* line 101, ../scss/quiz.scss */
.questions-opened .questions-container {
  opacity: 1;
  height: 100%;
}
/* line 106, ../scss/quiz.scss */
.questions-opened .quizBackground,
.questions-opened .questions-container {
  max-height: 3000px;
  -webkit-transition: all 0.5s 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
/* line 113, ../scss/quiz.scss */
.questions-opened .question-container {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 126, ../scss/quiz.scss */
.questionsGroupContainer {
  max-height: 100px;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-color: transparent;
}

/* line 138, ../scss/quiz.scss */
.questions-container {
  opacity: 0;
  height: 0;
  /* Pretty printing styles. Used with prettify.js. */
  /* Vim sunburst theme by David Leibovic */
  /* string  - green */
  /* keyword - dark pink */
  /* comment - gray */
  /* type - light blue */
  /* literal - blue */
  /* punctuation - white */
  /* plaintext - white */
  /* html/xml tag    - light blue */
  /* html/xml attribute name  - khaki */
  /* html/xml attribute value - green */
  /* decimal - blue */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */
}
/* line 145, ../scss/quiz.scss */
.questions-container pre .str, .questions-container code .str {
  color: #65B042;
}
/* line 146, ../scss/quiz.scss */
.questions-container pre .kwd, .questions-container code .kwd {
  color: #E28964;
}
/* line 147, ../scss/quiz.scss */
.questions-container pre .com, .questions-container code .com {
  color: #AEAEAE;
  font-style: italic;
}
/* line 148, ../scss/quiz.scss */
.questions-container pre .typ, .questions-container code .typ {
  color: #89bdff;
}
/* line 149, ../scss/quiz.scss */
.questions-container pre .lit, .questions-container code .lit {
  color: #3387CC;
}
/* line 150, ../scss/quiz.scss */
.questions-container pre .pun, .questions-container code .pun {
  color: #fff;
}
/* line 151, ../scss/quiz.scss */
.questions-container pre .pln, .questions-container code .pln {
  color: #fff;
}
/* line 152, ../scss/quiz.scss */
.questions-container pre .tag, .questions-container code .tag {
  color: #89bdff;
}
/* line 153, ../scss/quiz.scss */
.questions-container pre .atn, .questions-container code .atn {
  color: #bdb76b;
}
/* line 154, ../scss/quiz.scss */
.questions-container pre .atv, .questions-container code .atv {
  color: #65B042;
}
/* line 155, ../scss/quiz.scss */
.questions-container pre .dec, .questions-container code .dec {
  color: #3387CC;
}
/* line 157, ../scss/quiz.scss */
.questions-container pre.prettyprint, .questions-container code.prettyprint {
  background-color: #000;
  border: 0;
  border-radius: 4px;
}
/* line 163, ../scss/quiz.scss */
.questions-container pre.prettyprint {
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}
/* line 171, ../scss/quiz.scss */
.questions-container ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}
/* line 172, ../scss/quiz.scss */
.questions-container li.L0, .questions-container li.L1, .questions-container li.L2, .questions-container li.L3, .questions-container li.L5, .questions-container li.L6, .questions-container li.L7, .questions-container li.L8 {
  list-style-type: none;
}
@media print {
  /* line 177, ../scss/quiz.scss */
  .questions-container pre .str, .questions-container code .str {
    color: #060;
  }
  /* line 178, ../scss/quiz.scss */
  .questions-container pre .kwd, .questions-container code .kwd {
    color: #006;
    font-weight: bold;
  }
  /* line 179, ../scss/quiz.scss */
  .questions-container pre .com, .questions-container code .com {
    color: #600;
    font-style: italic;
  }
  /* line 180, ../scss/quiz.scss */
  .questions-container pre .typ, .questions-container code .typ {
    color: #404;
    font-weight: bold;
  }
  /* line 181, ../scss/quiz.scss */
  .questions-container pre .lit, .questions-container code .lit {
    color: #044;
  }
  /* line 182, ../scss/quiz.scss */
  .questions-container pre .pun, .questions-container code .pun {
    color: #440;
  }
  /* line 183, ../scss/quiz.scss */
  .questions-container pre .pln, .questions-container code .pln {
    color: #000;
  }
  /* line 184, ../scss/quiz.scss */
  .questions-container pre .tag, .questions-container code .tag {
    color: #006;
    font-weight: bold;
  }
  /* line 185, ../scss/quiz.scss */
  .questions-container pre .atn, .questions-container code .atn {
    color: #404;
  }
  /* line 186, ../scss/quiz.scss */
  .questions-container pre .atv, .questions-container code .atv {
    color: #060;
  }
}
/* line 189, ../scss/quiz.scss */
.questions-container.collapsed {
  opacity: 0;
}
/* line 193, ../scss/quiz.scss */
.questions-container .button-reset {
  /*background-color: #DCDCDC;
  color: white;
  border-radius: 50%;*/
  color: #889A41;
}
/* line 200, ../scss/quiz.scss */
.questions-container .question-index {
  font-size: 3.5625rem;
  position: absolute;
  left: -1.6em;
  color: black;
  font-weight: bold;
  line-height: 1;
}
/* line 209, ../scss/quiz.scss */
.questions-container .question-heading {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
}
/* line 215, ../scss/quiz.scss */
.questions-container .question-description {
  color: lightgray;
}
/* line 219, ../scss/quiz.scss */
.questions-container .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
/* line 224, ../scss/quiz.scss */
.questions-container .question-toolbar {
  margin: 10px;
}
/* line 228, ../scss/quiz.scss */
.questions-container .question-container .toolbar-button {
  color: white;
  border-radius: 20px;
  font-size: 0.875rem;
  padding: 4px 10px;
  display: inline-block;
  margin-right: 5px;
}
/* line 237, ../scss/quiz.scss */
.questions-container .toolbar-separator {
  width: 40px;
  display: inline-block;
}
/* line 242, ../scss/quiz.scss */
.questions-container .button-check {
  background-color: #889A41;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
/* line 247, ../scss/quiz.scss */
.questions-container .button-show-answer, .questions-container .button-hint, .questions-container .button-explain, .questions-container .button-reset {
  background-color: darkgray;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-transform: lowercase;
}
/* line 252, ../scss/quiz.scss */
.questions-container .button-show-answer i:before, .questions-container .button-hint i:before, .questions-container .button-explain i:before, .questions-container .button-reset i:before {
  font-size: 0.9375rem;
  position: relative;
  top: 1px;
}
/* line 259, ../scss/quiz.scss */
.questions-container .button-show-answer i:before {
  font-size: 0.6875rem;
  top: 0;
}
/* line 264, ../scss/quiz.scss */
.questions-container .button-reset {
  width: 29px;
  height: 29px;
  line-height: 29px;
  position: absolute;
  top: -3px;
  left: 105%;
  padding: 0 0 0 9px !important;
}
/* line 273, ../scss/quiz.scss */
.questions-container .button-reset i:before {
  position: relative;
  top: 2px;
  left: -2px;
}
/* line 280, ../scss/quiz.scss */
.questions-container .question-container {
  position: relative;
  margin: 80px 0;
}
/* line 284, ../scss/quiz.scss */
.questions-container .question-container:first-of-type {
  margin-top: 40px;
}
/* line 288, ../scss/quiz.scss */
.questions-container .question-container:not(:last-of-type):after {
  position: absolute;
  content: '';
  bottom: -40px;
  left: -25%;
  height: 1px;
  width: 30%;
  background: black;
}
/* line 300, ../scss/quiz.scss */
.questions-container .question-answer-container {
  margin: 10px 0;
}
/* line 304, ../scss/quiz.scss */
.questions-container label {
  color: #fff;
  padding-top: 4px;
}
/* line 310, ../scss/quiz.scss */
.questions-container .choose-multiple .options-container,
.questions-container .choose-multiple .answers-container {
  border: dashed 1px gray;
  padding: 5px;
  margin: 10px 0;
  min-height: 50px;
}
/* line 317, ../scss/quiz.scss */
.questions-container .choose-multiple .options-container.drop-active,
.questions-container .choose-multiple .answers-container.drop-active {
  border: solid 1px gold;
}
/* line 322, ../scss/quiz.scss */
.questions-container .choose-multiple .options-container {
  border: none;
}
/* line 326, ../scss/quiz.scss */
.questions-container .choose-multiple .draggable-option-container {
  margin: 2px 0;
}
/* line 329, ../scss/quiz.scss */
.questions-container .choose-multiple .draggable-option-container .draggable-option-value {
  border: solid 1px;
  width: 90%;
  cursor: move;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 2px;
  background: #d8d8d8;
  color: black;
}
/* line 340, ../scss/quiz.scss */
.questions-container .choose-multiple .draggable-option-container.drag-active .draggable-option-value {
  border: solid 1px gold;
}
/* line 344, ../scss/quiz.scss */
.questions-container .choose-multiple .draggable-option-container.drag-active {
  z-index: 10;
}
/* line 353, ../scss/quiz.scss */
.questions-container .question-tip-container {
  position: relative;
  background-color: #FAFAFA;
  border-radius: 4px;
  margin: 10px 0;
  padding: 20px;
  display: none;
  color: #3C3C3C;
}
/* line 363, ../scss/quiz.scss */
.questions-container .question-tip-container .close-question-tip {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
/* line 373, ../scss/quiz.scss */
.questions-container .question-draggable-items {
  width: 80%;
  min-height: 40px;
  margin: 15px 0;
}
/* line 382, ../scss/quiz.scss */
.questions-container .question-draggable-item {
  width: auto;
  padding: 6px 10px;
  border-radius: 2px;
  cursor: move;
  margin: 2px;
  position: relative;
  background: #d8d8d8;
  color: #3C3C3C;
  top: 2px;
  white-space: nowrap;
  display: inline-block;
}
/* line 395, ../scss/quiz.scss */
.questions-container .question-draggable-item.drag-active {
  border: solid 1px gold;
  z-index: 10;
}
/* line 401, ../scss/quiz.scss */
.questions-container .question-descriptions-container {
  margin: 10px 0;
}
/* line 405, ../scss/quiz.scss */
.questions-container .question-descriptions-container .question-description-item {
  margin: 5px;
}
/* line 408, ../scss/quiz.scss */
.questions-container .question-descriptions-container .question-description-item .question-description-item-place {
  border: dashed 1px #3C3C3C;
  width: 400px;
  height: 35px;
  background-color: #595959;
  border-radius: 3px;
}
/* line 416, ../scss/quiz.scss */
.questions-container .question-descriptions-container .question-description-item .question-description-item-place.drop-active {
  border: dashed 1px gold;
}
/* line 422, ../scss/quiz.scss */
.questions-container .input-answer {
  width: 200px;
  display: inline-block;
}
/* line 427, ../scss/quiz.scss */
.questions-container .correct-status {
  width: 17px;
  height: 17px;
  display: none;
  background-repeat: no-repeat;
}
/* line 433, ../scss/quiz.scss */
.questions-container .correct-status.correct i:before {
  content: "\e60e";
  color: #6E7C34;
}
/* line 438, ../scss/quiz.scss */
.questions-container .correct-status.incorrect i:before {
  content: "✖";
  color: red;
}
/* line 443, ../scss/quiz.scss */
.questions-container .correct-status.show {
  display: inline-block;
}

/* line 451, ../scss/quiz.scss */
.arrange-code .arrange-code-fragments {
  border: 1px dashed grey;
  width: 80%;
  min-height: 40px;
  margin: 15px 0;
}
/* line 457, ../scss/quiz.scss */
.arrange-code .arrange-code-fragments .code-draggable-item {
  font-size: 1.25em;
}
/* line 462, ../scss/quiz.scss */
.arrange-code .code-item-placeholder-container {
  display: inline-block;
  margin-top: 4px;
}
/* line 466, ../scss/quiz.scss */
.arrange-code .code-item-placeholder-container .code-item-placeholder {
  display: inline-block;
  border: 1px dashed grey;
  position: relative;
}
/* line 471, ../scss/quiz.scss */
.arrange-code .code-item-placeholder-container .code-item-placeholder .code-draggable-item {
  position: absolute;
  margin-left: 3px;
  margin-right: 0;
}
/* line 479, ../scss/quiz.scss */
.arrange-code .code-draggable-item {
  font-family: monospace;
  padding-left: 2px;
  padding-right: 2px;
  width: auto;
  border-radius: 2px;
  cursor: move;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  background: #d8d8d8;
  color: #3C3C3C;
  white-space: nowrap;
  display: inline-block;
}
/* line 494, ../scss/quiz.scss */
.arrange-code .code-draggable-item.drag-active {
  border: solid 1px gold;
  z-index: 100;
}
